<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf_viewer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.worker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.489/pdf.worker.min.js"></script>
  <script src="/mozilla.github.io/pdf.js/build/pdf.js"></script>
  <script src="/application.js" charset="utf-8"></script>
  <script src="/jspdf.min.js" charset="utf-8"></script>


  <title>Test</title>
</head>
<body>
  <form class="main" action="/test" method="get">
    <h1>Section Determining</h1>
    <h8>Fill up</h8>
    <input type="text" name="section" value= "" placeholder = "section">
    <input type="text" name="topic" value="" placeholder="topic">
    <input type="submit" value="Add Name">
  </form>


<section>

  <h1>PDF.js Previous/Next example</h1>

  <a href="/web/viewer.html?file=%compressed.tracemonkey-pldi-09.pdf">Open yourpdf.pdf with PDF.js</a>

</section>
</body>
</html>
